# dev | prod
ENV="dev"

POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="copit"
POSTGRES_USER="copit"
POSTGRES_PASSWORD="abc"

DATABASE_URL="postgres://copit:abc@localhost/copit"

REDIS_URL="redis://localhost/"
